<div class="container-editform">
  <form action='/auth/edit' method='POST' class="editform" enctype = "multipart/form-data">

    <input type='file' name='picture' placeholder="Picture Url">

    <input type='text' name='name' placeholder='Name..'>

    <input type='number' name='age' placeholder="Age..">

    <textarea type = 'text' name = 'description' placeholder = "Description"></textarea>

    <button class='form-btn' type='submit'>Save</button>

    {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
  </form>
</div>










