<div class="container-editform">
  <form action='/auth/edit' method='POST' class="editform" enctype = "multipart/form-data">

    <input type='file' name='picture' placeholder="Picture Url" id = 'picture'>

    <input type='text' name='name' placeholder='Name..' id = 'name'>

    <textarea type = 'text' name = 'description' placeholder = "Description" id = 'description'></textarea>

    <button class='form-btn' type='submit'>Save</button>

    {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
  </form>
  <form action = '/auth/delete' method = 'POST'>
    <button type='submit'>Delete Profile</button>
  </form>
</div>










