<header class = "homepageheader">
    <h1>PETSIT</h1>
    <a href = '/logout'><img src = 'images/log-out.svg'></a>
</header>
<div class = "category-container">
    <div class = 'category-text'>
        <h1>Pet Category</h1>
        <div class = 'category-display scrollmenu'>
            <div class = 'petcolumn'>
                <a>
                    <div class="animal-section">
                    <p>Cats</p>
                    </div>
                </a>
                <a>
                    <div class="animal-section bottom-div">
                        <p>Dogs</p>
                    </div>
                </a>
            </div>
            <div class = 'petcolumn'>
                <a>
                    <div class="animal-section left-margin">
                        <p>Birds</p>
                    </div>
                    </a>
                </a>
                <a>
                    <div class="animal-section bottom-div left-margin">
                    <p>Rabbits</p>
                    </div>
                </a>
            </div>
            <div class = 'petcolumn'>
                <a>
                    <div class="animal-section left-margin right-margin">
                        <p>Fish</p>
                    </div>
                </a>
                <a>
                    <div class="animal-section bottom-div left-margin right-margin">
                        <p>Reptile</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="request-body">
        <div class = "request-container">
            <h1>Latest Requests</h1>
        </div>
    </div>
    <div class = "footer-background">
             <div class="footer-bar">
                <div class="left-part">
                    <a href = '/home'><img src = 'images/homeicon.svg'></a>
                    <a href = '/userrequests'><img src = 'images/requestsicon.svg'></a>
                </div>
                <div class="middle-part">
                    <a><img src = 'images/button.svg' class = 'middle-button'></a> 
                </div>
                <div class="right-part">
                    <a href = '/notifications'><img src = 'images/notificationsicon.svg'></a>
                    <a href = '/profile'><img src = 'images/profileicon.svg'</a>
                </div>
            </div>
    </div>
</div>
        

<script>document.body.classList.add('homepage')</script>
