<header class = "homepageheader">
    <h1>PETSIT</h1>
    <a href = '/logout'><img src = 'images/log-out.svg'></a>
</header>
<div class = "category-container">
    <div class = 'category-text'>
        <h1>Pet Category</h1>
        <div class = 'category-display'>
            <div class = 'petcolumn'>
                <a>

                    <p>Cats</p>
                </a>
                <a>

                    <p>Dogs</p>
                </a>
            </div>
            <div class = 'petcolumn'>
                <a>

                    <p>Birds</p>
                </a>
                <a>

                    <p>Rabbits</p>
                </a>
            </div>
            <div class = 'petcolumn'>
                <a>

                    <p>Fish</p>
                </a>
                <a>

                    <p>Reptile</p>
                </a>
            </div>
        </div>
    </div>
    <div class="request-body">
        <div class = "request-container">
            <h1>Latest Requests</h1>

        </div>
    </div>
</div>
        <div class="footer-bar">
            <div id="left-part"></div>
            <div id="middle-part"></div>
            <div id="right-part"></div>
        </div>

<script>document.body.classList.add('homepage')</script>