<header class = "homepageheader">
    <h1 class="brand">PETSIT</h1>
    <a href = '/logout'><img src = 'images/log-out.svg'></a>
</header>
<div class = "category-container">
    <div class = 'category-text'>
        <h1>Pet Category</h1>
        <div class = 'category-display scrollmenu'>
            <div class = 'petcolumn'>
                <a href = "/home?petType=Cat">
                    <div class="animal-section">
                        <div class="category-content">
                            <img src="images/cat.svg" alt="cat icon" class="cat">
                            <p>Cats</p>
                        </div>
                    </div>
                </a>
                <a href= "/home?petType=Dog">
                    <div class="animal-section bottom-div">
                        <div class="category-content">
                            <img src="images/dog.svg" alt="dog icon" class="dog">
                            <p>Dogs</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class = 'petcolumn'>
                <a href= "/home?petType=Bird">
                    <div class="animal-section left-margin">
                        <div class="category-content">
                            <img src="images/birds.svg" alt="birds icon" class="bird">
                            <p>Birds</p>
                        </div>
                    </div>
                    </a>
                </a>
                <a href= "/home?petType=Rabbit">
                    <div class="animal-section bottom-div left-margin">
                        <div class="category-content">
                            <img src="images/rabbits.svg" alt="rabbits icon" class="rabbit">
                            <p>Rabbits</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class = 'petcolumn'>
                <a href= "/home?petType=Fish">
                    <div class="animal-section left-margin right-margin">
                        <div class="category-content">
                            <img src="images/fish.svg" alt="fish icon" class="fish">
                            <p>Fish</p>
                        </div>
                    </div>
                </a>
                <a href= "/home?petType=Reptile">
                    <div class="animal-section bottom-div left-margin right-margin">
                        <div class="category-content">
                            <img src="images/reptile.svg" alt="reptile icon" class="reptile">
                            <p>Reptile</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="request-body">
        <div class = "request-container">
            <h1>Latest Requests
                {{#if petType}}
                    for {{petType}}s
                {{/if}}
            </h1>
        <div class="request-test">
            <div class="row-request">
                <div class="request-content">
                    {{#each requestList}}
                        {{>requestPartial this}}
                    {{/each}}
                </div>
            </div>
        </div>

        </div>
    </div> 
</div>


         

<script src="./javascript/js.js"></script>
