<div class = 'profilepage'>
    <img src = '{{user.pictureUrl}}' class = 'profileimg'>
    <a href='/edit' class = 'editimg'><div><img src = 'images/Editicon.svg'></div></a>
    <div class = "usertext">
        <h1>{{ user.name }}</h1>
        <div class = 'petcontainer'>
            <h2>Pets</h2>
            <div class = 'petimages'>
                    <a class = 'petimage'><div><img src = '{{pet.petPictureUrl}}' class = 'petimg'></div></a>  
                    <a href = '/add-pet'><div class = "addpetdiv"><img src = 'images/plus.svg'></div></a>      
                    
            </div>
        </div>
        <div class = 'descriptiondiv'>
            <h2>Description</h2>
            <p>{{ user.description }}</p>
        </div>
    </div>
        <script>document.body.classList.add('homepage')</script>
<script>
    let footer = document.createElement('div');
    footer.innerHTML = `
    <div class = "footer-background">
             <div class="footer-bar">
                <div class="left-part">
                    <a href = '/home'><img src = 'images/homeicon.svg'></a>
                    <a href = ''><img src = 'images/requestsicon.svg'></a>
                </div>
                <div class="middle-part">
                    <a href ='/user-requests' class = 'requestimage'><div><img src = 'images/button.svg' class = 'middle-button'></div></a> 
                </div>
                <div class="right-part">
                    <a href = '/notifications'><img src = 'images/notificationsicon.svg'></a>
                    <a href = '/profile'><img src = 'images/profileicon.svg'</a>
                </div>
            </div>
    </div>
    `
    if(window.screen.width <=375) {
        document.body.appendChild(footer);
    }
</script>
