<div class = 'profilepage'>
    <img src = '{{user.pictureUrl}}' class = 'profileimg'>
    <a href='/edit' class = 'editimg'><div><img src = 'images/Editicon.svg'></div></a>
    <div class = "usertext">
        <h1>{{ user.name }}</h1>
        <div class = 'petcontainer'>
            <h2>Pets</h2>
            <div class = 'petimages'>
                {{#if pet.petPictureUrl}}
                    <a class = 'petimage'><div><img src = '{{pet.petPictureUrl}}' class = 'petimg'></div></a>
                {{/if}}
                    <a href = '/add-pet'><div class = "addpetdiv"><img src = 'images/plus.svg'></div></a>      
            </div>
        </div>
        <div class = 'descriptiondiv'>
            <h2>Description</h2>
            <p>{{ user.description }}</p>
        </div>
    </div>
<script src="./javascript/js.js"></script>