<img src="images/header.svg" alt="head design" class="head-design">
<div class="container-request-form">
    <h1>Request for {{pet.name}}</h1>
    <form action='/auth/user-requests' method='POST' class="request-form">

        <input type='text' name='requestTitle' placeholder='Title..'>

        <input type='date' name='requestDate' placeholder='date..'>

        <textarea type = 'text' name = 'requestDesc' placeholder = "Description"></textarea>

        <button class='form-btn' type='submit'>Send</button>

        {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
    </form>
</div>










