<div class="container-test">
  <div class="img-container">
  <img src="images/header.svg" alt="head design" class="head-design">
  </div>
<div class="container">
    <h1>Request for {{pet.name}}</h1>
    <div class="signup-form">
    <form action='/auth/user-requests' method='POST' class="request-form">

        <input type='text' name='requestTitle' placeholder='Title..'>

        <input type='date' name='requestDate' placeholder='date..'>

        <textarea type = 'text' name = 'requestDesc' placeholder = "Description.."></textarea>

        <button class='form-btn' type='submit'>Send</button>

        {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
    </form>
    </div>
    <div class="bottom-img-container">
        <img src="images/catrequest.svg" alt="cat request" class="bottom-design">
    </div>
</div>
</div>










