<div class="container-request-form">
    <form action='/auth/user-requests' method='POST' class="request-form" enctype = "multipart/form-data">


        {{!-- <select>
            <optgroup label="Your pet">
            </optgroup>
        </select> --}}

        <input type='text' name='requestTitle' placeholder='Title..'>

        <input type='date' name='RequestDate' placeholder='date..'>

        <textarea type = 'text' name = 'requestDesc' placeholder = "Description"></textarea>

        <button class='form-btn' type='submit'>Send</button>

        {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
    </form>
</div>










