        <div class="test 1">
        <div style="background:no-repeat url({{this.pet.petPictureUrl}})" class="request-itself">
        </div>
            <div class="request-info">  
                <h1 class = 'petnameh1'></h1>
                <h3>From {{this.requesterName}}</h3>
            </div>
        </div>
