<div class="test">
    <div style="background:no-repeat {{this.pet.petPictureUrl}}" class="request-itself">
    </div>
    <div class="request-info">  
        <h1> {{this.pet.name}} </h1>
        <p> {{this.pet.age}} </p>
        <h3>{{this.requesterName}}</h3>
    </div>
</div>