        <div class="test">
        <div style="background:no-repeat url({{this.pet.petPictureUrl}}); background-size: cover; background-position: center;" class="request-itself">
        </div>
            <a href="/request-page"> <div class="request-info">  
                <h1 class = 'petnameh1'></h1>
                <h3>From {{this.requesterName}}</h3>
            </div>
            </a>
        </div>
