<h1>Petsit</h1>

<form action='/auth/login' method='POST'>

  <label for=''>Email</label>
  <input type='text' name='email'>

  <label for=''>Password</label>
  <input type='password' name='password'>

  <button type='submit'>LOGIN</button>

    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>

</form>

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}