<div class="container-test">
  <div class="img-container">
  <img src="images/header.svg" alt="head design" class="head-design">
  </div>
  <div class = 'container' id = "signup">
    <form action='/auth/login' method='POST' class = 'login-form'>

    <input type='text' name='email' placeholder="email">

    <input type='password' name='password' placeholder="password">

    <button type='submit' class = 'form-btn'>LOGIN</button>

      <p class="account-message">
        Don't have an account? <br> <a href="/signup">Sign up</a>
      </p>

        {{#if errorMessage}}
          <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
  </form> 
  <div class="bottom-img-container">
        <img src="images/logindesign.svg" alt="cat request" class="bottom-login-design">
    </div>
  </div>
</div>