
<div class="container">
  <form action='/auth/signup' method='POST' class="signup-form">

    <input type='email' name='email' placeholder='Email'>

    <input type='password' name='password' placeholder="Password">

    <input type='text' name='picture' placeholder="Picture Url">

    <input type='text' name='name' placeholder="Name">

    <textarea type = 'text' name = 'description' id = 'desc' placeholder = "Description"></textarea>

    <button class='form-btn' type='submit'>Submit</button>
  </form>
</div>
{{!-- error message display --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}

<!--<input type='text' id = 'desc' name='description' placeholder="Description"> -->