<form action='/auth/signup' method='POST'>

  <label for=''>Email</label>
  <input type='email' name='username'>

  <label for=''>Password</label>
  <input type='password' name='password'>

  <label for=''>Password</label>
  <input type='text' name='name'>

  <button type='submit'>Submit</button>
</form>

{{!-- error message display --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}